body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.gallery {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
}
